  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= render 'layouts/notice' %>
        <%= link_to 'Se connecter / Créer un nouveau compte', user_omniauth_authorize_path(:born2code), class: 'btn btn-block btn-success' %>
      </div>
    </div>
  </div>