$white: #ffffff;
$pumpkin: #eb8c01;
$charcoal-grey: #353b3e;
$charcoal-grey-two: #3c4144;
$white-two: #f5f5f5;
$light-orange: #f8a641;
$pinkish-grey: #c7c7c7;
$cool-grey: #8b9ba3;
$tomato: #e0301e;
$cool-grey-two: #8f9ea6;
$white-three: #eeeeee;
$pumpkin-two: #dc6900;
$cool-grey-three: #aebdc1;
$greeny-blue: #4cafa5;
$ocean-green: #367d76;
$apple-green: #7ed321;
$sap-green: #5fa11a;
$sun-yellow: #f8e71c;
$puke-yellow: #c4b616;
$leafy-green: #53c34a;
$cool-grey-four: #9facb3;
$brick: #c62522;
$white-four: #d9d9d9;
$black: #000000;
$pale-grey: #fafbfc;
$pumpkin-three: #da8700;
$umber: #a66600;
$pale-red: #d22b27;
$white-five: #f2f2f2;
$white-six: #f9f9f9;
$black-15: rgba($black, 0.15);
